.photos {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
album-photo-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}