<div class="container">

    <input type="text" placeholder="Favorite food" [(ngModel)]="search" #ctrl="ngModel">
    <md-card *ngFor="let album of albums | albumFilter: search | paginate: { itemsPerPage: 1, currentPage: page }">
        <md-card-title>
            {{ album.title }}
        </md-card-title>
        <md-card-content>
            <div class="photos">
                <album-photo-list [album]="album">
                    <md-spinner class="app-spinner"></md-spinner>
                </album-photo-list>
            </div>
        </md-card-content>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </md-card>
</div>