.photos {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
album-photo-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.input-container {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    position: relative;
    input {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #673ab7;
        position: relative;
        width: calc(100% - 10px);
        padding: 5px 0 0 10px;
    }
    md-icon {
        position: absolute;
        top: 2px;
        right: 5px;
        height: 30px;
    }
    .auto-complete {
        position: absolute;
        top: 39px;
        right: -2px;
        width: calc(100% + 2px);
        background: #fff;
        z-index: 2;
        cursor: pointer;
        md-list {
            h3 {
                background: #673ab7;
                color: white;
                line-height: 45px;
                margin: 0;
                padding: 0;
                vertical-align: middle;
                text-align: center;
                text-transform: uppercase;
            }
            md-list-item {
                text-align: left;
                background: #ccc;
                .md-list-item {
                    text-align: left;
                    background: #ccc;
                    &:hover {
                        background: #673ab7;
                        color: white;
                    }
                }
            }
        }
    }
}